<h1>Coctel: {{cocktail.strDrink}}</h1>
<img src="{{cocktail.strDrinkThumb}}" alt="Imagen Cocktail" width="300" height="300"> 

<div class="form-row">
    <div class="form-group col">
        <label><b>Categoria</b></label>
        <p>{{cocktail.strCategory}}</p>
    </div>
    <div class="form-group col">
        <label><b>Tipo de bebida</b></label>
        <p>{{cocktail.strAlcoholic}}</p>
    </div>
    <div class="form-group col">
        <label><b>Donde se sirve</b></label>
        <p>{{cocktail.strGlass}}</p>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <label><b>Instrucciones</b></label>
        <p>{{cocktail.strInstructions}}</p>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <label><b>Ingrediente 1</b></label>
        <p>{{cocktail.strIngredient1}}</p>
    </div>
    <div class="form-group col">
        <label><b>Ingrediente 2</b></label>
        <p>{{cocktail.strIngredient2}}</p>
    </div>
    <div class="form-group col">
        <label><b>Ingrediente 3</b></label>
        <p>{{cocktail.strIngredient3}}</p>
    </div>
</div>
